body {
  margin: 0;
  overflow-x: hidden;
}

.top-menu {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 10;
  /* padding: 0 50px; */
}

.top-menu #carrinho-btn {
  border: none;
  background: transparent;
  margin-left: 20px;
  position: relative;
  transition: 200ms;
}

.top-menu #carrinho-btn:hover svg {
  fill: red;
}

#carrinho-btn span {
  display: block;
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 13px;
  position: absolute;
  top: -10px;
  right: -4px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-menu #carrinho-btn svg {
  fill: white;
  height: 28px;
  transition: 200ms;
}

.top-menu .top-menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 0 50px;
}

.top-menu .top-menu-content img {
  height: 40px;
}

.top-menu .top-menu-content nav {
  font-family: Grandissimo;
  color: white;
}

.top-menu .top-menu-content nav a {
  text-decoration: none;
  color: white;
  transition: 100ms;
  font-size: 13px;
}

.top-menu .top-menu-content nav a:hover {
  text-decoration: underline;
  color: red;
  transition: 500ms;
  cursor: pointer;
}

.area {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #303030;
}

.area .area-content {
  width: 100%;
  max-width: 1074px;
  background-color: black;
  padding: 10px 20px;
}

.carousel {
  height: calc(100vh - 100px);
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
  /* padding-top: 100px; */
}

.carousel-control-next:hover {
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, transparent);
}

.carousel-control-prev:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, transparent);
}

.carousel-indicators button {
  background-color: rgb(255, 255, 255) !important;
  height: 10px !important;
  /* width: 10px !important; */
  /* border-radius: 20px !important; */
  /* opacity: 1 !important;  */
}

.carousel-indicators .active {
  background-color: red !important;
}

.image-item {
  height: calc(100vh - 100px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 1px 1px black;
}

.image-item .carousel-item-content {
  background: radial-gradient(
    160% 100% at -0% 100%,
    rgba(0, 0, 0, 0.75) 42.19%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 130px 40px;
}

.image-item .carousel-item-content h3 {
  font-family: Grandissimo;
  color: white;
}

.image-item .carousel-item-content h4 {
  /* font-family: Grandissimo; */
  color: red;
}

.produtos-area {
  margin-top: 30px;
}

.produtos-area h2 {
  font-family: Grandissimo;
  color: white;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid red;
}

.card-produto {
  min-width: 202px;
  height: 300px;
  /* border: 1px solid #f00; */
  background-color: #303030;
  overflow: hidden;
  /* position: relative; */
  border-radius: 35px 0;
  margin-right: 30px;
  margin-bottom: 25px;
  transition: 200ms;
}

.card-produto:hover * {
  cursor: pointer;
}

.card-produto a {
  text-decoration: none;
}

.card-produto .card-image {
  height: 195px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms;
}

.card-produto .card-info {
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-produto .card-info .preco {
  display: flex;
  align-items: start;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.card-produto .card-info .preco span {
  font-size: 48px;
  text-align: start;
  font-weight: 700;
  height: fit-content;
  line-height: 1;
  padding-left: 3px;
}

.card-produto:hover {
  /* height: 380px;
    width: 300px; */
  box-shadow: 2px 2px 0 2px red, 8px 8px 0 2px rgba(255, 0, 0, 0.5),
    14px 14px 0 2px rgba(255, 0, 0, 0.25);
}

.card-produto:hover .card-image {
  /* background-size: cover; */
  /* zoom: 120%; */
  height: 195px;
  scale: 1.1;
}

.produtos-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 35px 0;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  background: #9b0000;
  width: 2px;
  border-radius: 10px;
  transition: 200ms;
  height: 2px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 0);
}

.footer {
  display: flex;
  flex-direction: row;
  border-top: 2px solid red;
  padding: 40px 10px;
  margin: 30px 0;
}

.footer #logo-with-name {
  height: 180px;
}

.footer .footer-column {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-column .footer-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 7px 0;
  padding: 0 15%;
}

.footer .footer-column .footer-row .footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.footer .footer-column .footer-row .footer-icon svg {
  height: 22px;
}

.footer .footer-column .footer-row label {
  margin-left: 10px;
  color: white;
}

.footer .footer-btn-area {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.footer .footer-btn-area button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  text-align: start;
  margin: 7px 0;
  transition: 200ms;
  /* padding: 15px 20px; */
}

.footer .footer-btn-area button svg {
  fill: white;
  height: 30px;
  margin: 8px;
  transition: 200ms;
}

.footer .footer-btn-area button label {
  margin-right: 8px;
}

.footer .footer-btn-area button label:hover {
  cursor: pointer;
}

.footer .footer-btn-area #whatsapp-button:hover {
  background-color: #25d366;
  box-shadow: 2px 2px 0 #25d366, 6px 6px 0 #25d365aa, 10px 10px 0 #25d36567;
}

.footer .footer-btn-area #instagram-button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 220, 128, 1) 0%,
    rgba(225, 48, 108, 1) 22%,
    rgba(131, 58, 180, 1) 100%,
    rgba(252, 70, 107, 1) 100%,
    #405de6 100%
  );
  box-shadow: 2px 2px 0 rgba(131, 58, 180), 6px 6px 0 rgba(131, 58, 180, 0.75),
    10px 10px 0 rgba(131, 58, 180, 0.5);
}

.footer .footer-btn-area button:hover svg {
  height: 35px;
}

/* ======================== BOTÃO DO MENU SUPERIOR ========================*/

.menu {
  --s: 30px; /* control the size */
  --c: rgb(255, 255, 255); /* the color */
  z-index: 10;

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
  --c: rgb(255, 0, 0);
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

/* ======================== /BOTÃO DO MENU SUPERIOR ========================*/

.button-top-menu {
  display: none;
}

.background-carrinho {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000000a3;
  z-index: 11;
  display: none;
  align-items: center;
  justify-content: center;
}

.background-produto {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #000000a3;
  z-index: 11;
  display: none;
  align-items: center;
  justify-content: center;
}

.background-carrinho .carrinho-container {
  background-color: black;
  min-height: 450px;
  width: 760px;
  font-family: Grandissimo;
  padding: 20px;
  animation: openModal 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-produto .produto-container {
  background-color: black;
  min-height: 450px;
  width: 760px;
  font-family: Grandissimo;
  padding: 20px;
  animation: openModal 0.2s;
}

.background-carrinho .carrinho-container .carrinho-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid red;
}

.background-produto .produto-container .produto-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid red;
}

.produto-body {
  display: flex;
  margin: 20px 0;
}

.produto-body .produto-image {
  height: 380px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.produto-body .produto-info {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width: 50%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.produto-body .produto-info h4 {
  font-size: 30px;
}

.produto-body .produto-info .input-tamanho {
  margin: 20px 0;
}

.produto-body .produto-info .input-tamanho button {
  background-color: #303030;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  padding: 8px 15px;
  transition: 0.2s;
  border: 1px solid #303030;
  margin: 1.5px 0;
  margin-right: 3px;
}

.produto-body .produto-info .input-tamanho button:hover {
  color: red;
  border: 1px solid red;
}

.col-product .quantidade-area,
.input-quantidade .quantidade-area {
  display: flex;
}

.input-quantidade .quantidade-area button:hover {
  color: red;
  border: 1px solid red;
}

.col-product .quantidade-area button,
.input-quantidade .quantidade-area button {
  background-color: #303030;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  padding: 8px 15px;
  transition: 0.2s;
  border: 1px solid #303030;
}

.col-product .quantidade-area #btn-menos,
.input-quantidade .quantidade-area #btn-menos {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.col-product .quantidade-area #btn-mais,
.input-quantidade .quantidade-area #btn-mais {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.col-product input::-webkit-outer-spin-button,
.col-product input::-webkit-inner-spin-button,
.quantidade-area input::-webkit-outer-spin-button,
.quantidade-area input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col-product .quantidade-area input,
.input-quantidade .quantidade-area input {
  background-color: transparent;
  color: white;
  font-weight: 600;
  padding: 8px 0 !important;
  border: 1px solid #303030;
  width: 55px;
  text-align: center;
}

.selected {
  background-color: red !important;
  color: #303030 !important;
  border: 1px solid red !important;
}

.produto-header svg {
  fill: white;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.produto-header svg:hover {
  fill: red;
}

#btn-close-carrinho {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 45px;
  padding: 0;
  font-size: 35px;
  position: relative;
  transition: 200ms;
}

#btn-close-produto {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 45px;
  padding: 0;
  font-size: 35px;
  position: relative;
  transition: 200ms;
}

#btn-close-carrinho:hover svg {
  fill: red !important;
}

.produto-body .valor-area {
  padding-top: 1rem;
}

.produto-body .valor-area label {
  font-size: 30px;
  font-weight: 600;
}

.modal-produto-btn-area {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.modal-produto-btn-area button {
  background-color: red;
  color: white;
  border: red;
  border-radius: 5px;
  padding: 1px 6px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.modal-produto-btn-area button svg {
  height: 30px;
  width: 30px;
  fill: white;
  margin: 8px;
}

.background-carrinho
  .carrinho-container
  .carrinho-header
  #btn-close-carrinho
  svg {
  fill: white;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.background-carrinho .carrinho-container .carrinho-header h2 {
  font-size: 20px;
  color: white;
}

.background-carrinho .carrinho-container .carrinho-body {
  height: 100%;
}

.background-carrinho .carrinho-container .carrinho-body .empty-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px 0;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background-carrinho .carrinho-container .carrinho-body .empty-message svg {
  fill: red;
  font-size: 60px;
  padding: 10px 0;
}

.table-body .img-content {
  height: 160px;
  width: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}

.table-body .img-content button {
  background-color: black;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 3px 10px;
  padding-bottom: 7px;
  transition: .2s;
}

.table-body .img-content button:hover {
  background-color: red;
}

.table-body .img-content button:hover svg {
  fill: black;
}

.table-body .img-content button svg {
  fill: red;
}

.product-info-row {
  display: flex;
  flex-direction: column;
}

.carrinho-body .table-body select {
  background-color: black;
  border: none;
  border-radius: 13px;
  color: white;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 17px;
}

.table-products-header {
  padding: 10px 0;
  height: 40px;
  color: white;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.product-value-row {
  font-size: 24px;
  font-weight: 600;
}

.table-body {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #303030;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.table-body .row {
  margin: 20px 20px;
}

.table-body .row .col-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-carrinho .carrinho-sub {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border-top: 1px solid #303030;
  justify-content: space-between;
}

.valor-total {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 10px 0;
}

.valor-total h4 {
  margin-left: 4px;
}

.background-carrinho .carrinho-sub #finalizar-whatsapp {
  background-color: red;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* border: 1px solid red; */
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.background-carrinho .carrinho-sub #finalizar-whatsapp:hover {
  background-color: #25d366;
  /* border: 1px solid #25d366; */
}

.background-carrinho .carrinho-sub #limpar-carrinho {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.background-carrinho .carrinho-sub #limpar-carrinho:hover {
  color: rgb(255, 0, 0);
}

.background-carrinho .carrinho-sub #limpar-carrinho:hover svg {
  fill: rgb(255, 0, 0);
}

.background-carrinho .carrinho-sub #limpar-carrinho svg {
  fill: rgb(255, 255, 255);
  height: 30px;
  margin: 8px;
  transition: .2s;
}

.background-carrinho .carrinho-sub button svg {
  fill: white;
  height: 30px;
  margin: 8px;
}

.background-carrinho .carrinho-sub button label {
  margin-right: 8px;
}

.open {
  display: flex !important;
}

.btn-disabled {
  background-color: #303030 !important;
  cursor: not-allowed !important;
}

.required::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

button:hover * {
  cursor: pointer;
}

.col-mobile {
  flex: 0 0 auto;
  width: 66.666666666% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value-area-mobile {
  padding: 10px 0;
  padding-left: 19px;
  width: 60%;
}

@font-face {
  font-family: Grandissimo;
  src: url("./assets/fonts/Grandissimo.ttf");
}

@media (max-width: 520px) {
  .background-produto .produto-body .produto-image {
    height: 40vh !important;
  }
  .background-produto .produto-body .produto-info .produto-info-mobile {
    flex-direction: column !important;
  }
  .row-mobile {
    width: 100% !important;
  }
  .col-product .quantidade-area input, .input-quantidade .quantidade-area input {
    width: 45px !important;
  }
  .value-area-mobile label {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 768px) {
  .col-product .quantidade-area button, .input-quantidade .quantidade-area {
    padding: 0 !important; 
  }
  .col-product .quantidade-area button, .input-quantidade .quantidade-area button {
    padding: 0px 10px !important;
  }
  .value-area-mobile {
    padding: 10px 0;
    padding-left: 19px;
    width: 55%;
  }
  .row-mobile {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .produto-body .produto-info h5 {
    font-size: 1rem;
  }
  .produto-body .produto-info h4 {
    font-size: 1.2rem;
  }
  .background-produto .produto-body {
    flex-direction: column;
  }
  .background-produto .produto-body .produto-image {
    width: 100%;
    height: 50vh;
  }
  .background-produto .produto-body .produto-info {
    width: 100%;
  }
  .background-produto .produto-body .produto-info .input-quantidade {
    padding: 20px 0;
  }
  .background-produto .produto-body .produto-info .produto-info-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .produto-body .produto-info {
    padding: 16px 0;
  }
  .background-carrinho .carrinho-container {
    margin: 0 1% !important;
  }
}

@media (max-width: 830px) {
  .table-body {
    border: none !important;
  }
  .col-mobile {
    width: 100% !important;
    padding-top: 20px !important;
    padding-right: 0 !important;
  }
  .row-product-info {
    width: 100% !important;
  }
  .table-body .row .col-product {
    justify-content: flex-start !important;
  }
  .value-area-mobile {
    display: flex;
    justify-content: flex-end !important;
  }
  .value-area-mobile label {
    font-size: 1.6rem;
  }
  .area-mobile {
    display: flex;
    flex-direction: column;
    width: 78% !important;
  }
  .carrinho-body .table-products-header {
    display: none;
  }
  .table-body .img-content {
    height: 120px;
    width: 22%;
  }
  .table-body .row {
    margin-right: 0 !important;
  }
  .background-carrinho .carrinho-container {
    width: 100%;
    margin: 0 5%;
  }
  .background-carrinho .carrinho-container .carrinho-header h2 {
    font-size: 0.8rem !important;
  }
  .background-carrinho
    .carrinho-container
    .carrinho-header
    #btn-close-carrinho
    svg {
    height: 30px;
  }
  .top-menu #carrinho-btn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  h2 {
    font-size: 1rem !important;
  }
  h3 {
    font-size: 0.75rem !important;
  }
  .top-menu .top-menu-content {
    padding: 0 10px;
  }
  .top-menu .top-menu-content img {
    height: 25px;
  }
  .top-menu .top-menu-content nav {
    padding: 25px 20px;
  }
  .top-menu .top-menu-content nav a {
    padding: 25px 0;
  }
  .background-menu {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000a3;
    animation: opacityin 0.2s;
  }
  .button-top-menu {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
  }
  .top-menu nav {
    display: flex;
    flex-direction: column;
  }
  .top-menu .top-menu-options {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    animation: slidein 0.3s;
    padding-top: 105px;
    z-index: 5;
  }
}

@media (max-width: 930px) {
  .footer {
    flex-direction: column;
  }
  .footer .footer-column {
    padding: 20px 0;
    align-items: flex-start !important;
    border-top: 2px solid #303030;
    width: auto;
  }
  .footer .footer-column .footer-row {
    padding: 0 10px;
  }
  .footer .footer-column .footer-btn-area {
    padding: 0 10px;
  }
  .footer #logo-with-name {
    height: 120px;
  }
}

@keyframes opacityin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
